/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 @import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
 @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
.popup-bubble-anchor::after {
    border-top: none !important;
}
.ajs-button {
    background-color:transparent;
}
.gm-err-content {
  background-color:black !important;
}
#loading-div {
    position:absolute !important;
    z-index:99999999999;
    height:100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:black;
}
#loading-div img {
    width:340px;
}

.ajs-modal {
    z-index:9999999999 !important;
}

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
    body {
        font-family: 'Montserrat',
        cursive;
        overflow-y:hidden;
    }
    .h1-search {
        font-family: 'Montserrat',
        cursive;
        margin-top:0px;
        margin-bottom:10px;
        font-size:28px;
        margin-top:30px;
    }
    .close {
        color:rgb(37, 119, 233);
        transition:0.5s;
    }
    .close:hover {
        transform:scale(1.2);
    }
    /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
    #map {
    min-height:100vh;
    height: 100%;
    background-color:black;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
    background-color:black;
    height: 100%;
    margin: 0;
    padding: 0;
    }
    .img-logo {
        margin-left:80px;
    }
    select {
        cursor:pointer;
    }
    #sidebar {
        background-color:white;
        height:100vh;
        position:absolute;
        z-index:9999;
        width:300px;
        right:0;
    }
    
    .button-search, .button-center, .button-show, .button-hide, .button-delete, .button-log-in, .button-log-out {
        background-color:transparent;
        font-size:15px !important;
        font-weight:600;
        border:2px solid rgb(255, 255, 255);
        padding:10px 20px;
        cursor:pointer;
        color:white;
        transition:0.5s ease;
    }
    .button-sidebar {
        background-color:rgb(37, 119, 233);
        color:white;
        border:2px solid rgb(37, 119, 233);
        height:40px;
        cursor:pointer;
    }
    .button-search {
        color:white;
        border:2px solid rgb(37, 119, 233);
        cursor:pointer;
        transition:0.5s ease;
    }
    .button-search:hover {
        background-color:rgb(37, 119, 233);
        color:white;
    }
    @media only screen and (max-width: 1024px) {
        #sidebarMenu {
        overflow:scroll;
        }
        #sidebarMenu::-webkit-scrollbar { width: 0 !important }
        #sidebarMenu { overflow: -moz-scrollbars-none; }
        #sidebarMenu { -ms-overflow-style: none; }
        .img-logo {
            margin-left:0px !important;
        }
      body #sidebarMenu {
            width:300px !important;
        }
      .button-center, .button-search, .button-log-in {
        display:none;
      }
      .right i {
          font-size:20px !important;
          margin-right:16px !important;
      }
      .sidebarMenuInner li {
          padding:15px !important;
      }
      .header {
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end !important;
      }
    }
     .button-center:hover {
         background-color:white;
         color:black;
     }
    #right-panel {
        font-family: 'Montserrat','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }
    #input-div {
        display:flex;
        width:100%;
        justify-content: center;
        align-items: center;
        height:100vh;
        position:absolute;
    }
    .input-container {
        background-color:rgba(0,0,0,0.2);
        z-index:2;
        position:absolute;
        height:100%;
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .times {
        text-align:right;
        cursor:pointer;
        right: 16px;
        position:absolute;
    }
    .hide {
        display:none !important;
    }
    .input-popout {
        text-align:center;    
        margin-top:20px;
        width:400px;
        background-color:white;
        position:absolute;
        z-index:1;
        padding:20px;
        border-radius:5px;
        margin:0 auto;
    }
    .modal-svg {
        z-index:-99999999999999999;
    }
    #fakemap {
        background-color:black;
        height:95vh;
    }
    .input-popout input {
        height:40px;
        margin:2px;
    }
    .input-popout button {
        width:100%;
        background-color:transparent;
        height:40px;
        margin-bottom:20px;
        border:none;
        background-color:rgba(37, 119, 233);
        color:white;
        cursor:pointer;
        border-radius: 5px;
        margin-top:10px;
    }
     /* The popup bubble styling. */
      .popup-bubble {
        /* Position the bubble centred-above its parent. */
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -100%);
        /* Style the bubble. */
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        overflow-y: auto;
        max-height: 60px;
        box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
      }
      /* The parent of the bubble. A zero-height div at the top of the tip. */
      .popup-bubble-anchor {
        /* Position the div a fixed distance above the tip. */
        position: absolute;
        width: 100%;
        bottom: /* TIP_HEIGHT= */ 8px;
        left: 0;
      }
      /* This element draws the tip. */
      .popup-bubble-anchor::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        /* Center the tip horizontally. */
        transform: translate(-50%, 0);
        /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
        width: 0;
        height: 0;
        /* The tip is 8px high, and 12px wide. */
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: /* TIP_HEIGHT= */ 8px solid white;
      }
      /* JavaScript will position this div at the bottom of the popup tip. */
      .popup-container {
        cursor: auto;
        height: 0;
        position: absolute;
        /* The max width of the info window. */
        width: 200px;
      }
    @media only screen and (max-width: 1024px) {
      .search {
          font-size:13px;
          padding:0px !important;
      }
      .search button {
          padding:10px;
      }
    }
    nav {
        min-height:80px;
        height:5vh;
        display:flex;
        justify-content: flex-start;
        align-items: center;
        background-color:rgba(0, 0, 0, 0.632);
        position:absolute;
        z-index:9999;
        width:100%;
    }
    .search {
        margin-left:auto;
        margin-right:20px;
    }
    #legend {
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 3px solid #000;
        position:absolute;
        right:0;
        z-index:1;
      }
      #legend h3 {
        margin-top: 0;
      }
      #legend img {
        vertical-align: middle;
      }

            #description {
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Montserrat;
      }
      #search-for-agencies {
          margin-left:auto;
          height:42px;
          font-weight:500;
          border:2px solid rgb(255, 255, 255);
          background-color:transparent;
          color:white;
      }
      #search-for-agencies option {
          color:black;
          padding:3px;
      }
 
      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }
 
      .pac-controls label {
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 300;
      }
      .body-content {
          margin-top:20px;
          margin-bottom:20px;
      }
      .subtitle {
          font-size:18px;
          font-weight:500;
      }
      .img-agency {
          width:100%;
      }
      .apply {
        background-color: transparent;
        border: 2px solid black;
        padding: 10px;
        font-weight: 600;
        margin-right: 10px;
        margin-bottom:10px;
    }

      #pac-input, #my-input {
        background-color: #fff;
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 300;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 100%;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }
      #floating-panel {
        position: absolute;
        left: 25%;
        z-index: 5;
        background-color:transparent;
        padding: 5px;
        text-align: center;
        font-family: 'Montserrat','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
.description {
    font-weight:500;
}
.goTo {
    background-color: transparent;
    border: 1px solid #424242 !important;
    padding: 10px 20px;
    border-radius:3px;
    font-weight:500;
    cursor:pointer;
    margin-top:20px;
    transition: 0.5s ease-in-out;
}
.goTo:hover {
    background-color:coral !important;
    color:white;
    border:1px solid coral !important;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.close-icon {
    position:absolute;
    right:8px;
    cursor:pointer;
}
.img-popup {
    width:50%;
    display:block;
    margin:0 auto;
}
#content {
    background-color:rgba(255,255,255,0.9);
    color:black;
    height:100%;
    padding:5px 8px;
    text-align:center;
    border-radius:10px;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */
















 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background: rgba(0,0,0,0.42);
    position: fixed;
    display:flex;
    align-items:center;
    overflow: hidden;
    z-index: 10;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    width:310px !important;
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 70px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: rgba(0,0,0,0.42);
    z-index: 99999999;
    display:flex;
    flex-direction: column;
}
.right {
    position:absolute;
    right:0;
    z-index:99999999;
}
.right i {
    font-size:25px;
    margin-right:20px;
    color:white;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    display:flex;
    align-items:center;
    transition: 0.5s ease;
}
.sidebarMenuInner li:hover {
    background-color:rgb(37, 119, 233);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    cursor: pointer;
    font-weight:600;
    font-size:15px;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    margin-top:4px;
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

.header {
    z-index:99999;
}
.sidebarIconToggle {
    z-index:999999;
}
.header {
    text-align:right;
}


.button-login {
    width:100%;
    font-weight:500;
    background-color:rgb(37, 119, 233);
    border:2px solid rgb(37, 119, 233);
    color:white;
    height:40px;
    cursor:pointer;
    border:none;
    transition:0.3s ease;
}

.button-login:hover {
    background-color:white;
    border:2px solid rgb(37, 119, 233);
    color:rgb(37, 119, 233);
}

.input-login {
    height: 35px;
    width: 100%;
    background-color: white;
    font-size: 15px;
    text-indent: 10px;
    margin-bottom: 5px;
}
.close-modal {
    position:absolute;
    top:10px;
    right:10px;
    cursor:pointer;
}
.close-modal-span {
    cursor:pointer;
}

.modal {
    width:380px;
    padding:25px !important;
}